{:paths   ["src" "resources"]
 :deps    {org.clojure/clojure       {:mvn/version "1.12.0"}
           org.clojure/clojurescript {:mvn/version "1.12.35"}
           net.cgrand/xforms         {:mvn/version "0.19.4"}
           datascript/datascript     {:git/url "https://github.com/saberstack/datascript"
                                      :git/sha "4562d2c32901fcf02d048cfeaa83c69637e42c53"}
           dev.weavejester/medley    {:mvn/version "1.8.1"}
           ;TODO potentially remove
           com.aphyr/bifurcan-clj    {:mvn/version "0.1.3"}
           org.clojure/tools.logging {:mvn/version "1.3.0"}
           ;TODO keep yes/no?
           org.slf4j/slf4j-simple    {:mvn/version "2.0.7"}
           ;TODO move deps below to a test/dev/etc aliases
           com.taoensso/timbre       {:mvn/version "6.6.1"}
           philoskim/debux           {:mvn/version "0.8.2"}
           org.clojure/test.check    {:mvn/version "1.1.1"}
           nrepl/nrepl               {:mvn/version "1.0.0"}}

 :aliases {:dev
           {:extra-paths ["test" "dev"]
            :extra-deps  {org.clojure/core.async                    {:mvn/version "1.9.808-alpha1"}
                          com.taoensso/nippy                        {:mvn/version "3.4.2"}
                          criterium/criterium                       {:mvn/version "0.4.6"}
                          com.cnuernber/charred                     {:mvn/version "1.036"}
                          com.clojure-goes-fast/clj-memory-meter    {:mvn/version "0.4.0"}
                          com.clojure-goes-fast/clj-java-decompiler {:mvn/version "0.3.4"}
                          org.clojars.abhinav/snitch                {:mvn/version "0.1.15"}
                          org.scicloj/noj                           {:mvn/version "2-alpha12"}}}
           ; use this alias for clj-memory-meter to work
           ; clj -M:add-opens -m org.zsxf.core
           :add-opens
           {:jvm-opts ["-XX:+EnableDynamicAgentLoading"
                       "-XX:+PrintCommandLineFlags"
                       "-XX:+UnlockExperimentalVMOptions"
                       "-XX:+UseCompactObjectHeaders"
                       "-Djdk.attach.allowAttachSelf"
                       "--add-opens=java.base/java.io=ALL-UNNAMED"
                       "--add-opens=java.base/java.lang=ALL-UNNAMED"
                       "--add-opens=java.base/java.lang.annotation=ALL-UNNAMED"
                       "--add-opens=java.base/java.lang.invoke=ALL-UNNAMED"
                       "--add-opens=java.base/java.lang.module=ALL-UNNAMED"
                       "--add-opens=java.base/java.lang.ref=ALL-UNNAMED"
                       "--add-opens=java.base/java.lang.reflect=ALL-UNNAMED"
                       "--add-opens=java.base/java.math=ALL-UNNAMED"
                       "--add-opens=java.base/java.net=ALL-UNNAMED"
                       "--add-opens=java.base/java.net.spi=ALL-UNNAMED"
                       "--add-opens=java.base/java.nio=ALL-UNNAMED"
                       "--add-opens=java.base/java.nio.channels=ALL-UNNAMED"
                       "--add-opens=java.base/java.nio.channels.spi=ALL-UNNAMED"
                       "--add-opens=java.base/java.nio.charset=ALL-UNNAMED"
                       "--add-opens=java.base/java.nio.charset.spi=ALL-UNNAMED"
                       "--add-opens=java.base/java.nio.file=ALL-UNNAMED"
                       "--add-opens=java.base/java.nio.file.attribute=ALL-UNNAMED"
                       "--add-opens=java.base/java.nio.file.spi=ALL-UNNAMED"
                       "--add-opens=java.base/java.security=ALL-UNNAMED"
                       "--add-opens=java.base/java.security.cert=ALL-UNNAMED"
                       "--add-opens=java.base/java.security.interfaces=ALL-UNNAMED"
                       "--add-opens=java.base/java.security.spec=ALL-UNNAMED"
                       "--add-opens=java.base/java.text=ALL-UNNAMED"
                       "--add-opens=java.base/java.text.spi=ALL-UNNAMED"
                       "--add-opens=java.base/java.time=ALL-UNNAMED"
                       "--add-opens=java.base/java.time.chrono=ALL-UNNAMED"
                       "--add-opens=java.base/java.time.format=ALL-UNNAMED"
                       "--add-opens=java.base/java.time.temporal=ALL-UNNAMED"
                       "--add-opens=java.base/java.time.zone=ALL-UNNAMED"
                       "--add-opens=java.base/java.util=ALL-UNNAMED"
                       "--add-opens=java.base/java.util.concurrent=ALL-UNNAMED"
                       "--add-opens=java.base/java.util.concurrent.atomic=ALL-UNNAMED"
                       "--add-opens=java.base/java.util.concurrent.locks=ALL-UNNAMED"
                       "--add-opens=java.base/java.util.function=ALL-UNNAMED"
                       "--add-opens=java.base/java.util.jar=ALL-UNNAMED"
                       "--add-opens=java.base/java.util.regex=ALL-UNNAMED"
                       "--add-opens=java.base/java.util.spi=ALL-UNNAMED"
                       "--add-opens=java.base/java.util.stream=ALL-UNNAMED"
                       "--add-opens=java.base/java.util.zip=ALL-UNNAMED"
                       "--add-opens=java.base/javax.crypto=ALL-UNNAMED"
                       "--add-opens=java.base/javax.crypto.interfaces=ALL-UNNAMED"
                       "--add-opens=java.base/javax.crypto.spec=ALL-UNNAMED"
                       "--add-opens=java.base/javax.net=ALL-UNNAMED"
                       "--add-opens=java.base/javax.net.ssl=ALL-UNNAMED"
                       "--add-opens=java.base/javax.security.auth=ALL-UNNAMED"
                       "--add-opens=java.base/javax.security.auth.callback=ALL-UNNAMED"
                       "--add-opens=java.base/javax.security.auth.login=ALL-UNNAMED"
                       "--add-opens=java.base/javax.security.auth.spi=ALL-UNNAMED"
                       "--add-opens=java.base/javax.security.auth.x500=ALL-UNNAMED"
                       "--add-opens=java.base/javax.security.cert=ALL-UNNAMED"
                       "--add-opens=java.desktop/sun.java2d.marlin=ALL-UNNAMED"
                       "--add-opens=jdk.compiler/com.sun.tools.javac.code=ALL-UNNAMED"
                       "--add-opens=java.base/sun.nio.ch=ALL-UNNAMED"
                       "--add-opens=jdk.management/com.sun.management.internal=ALL-UNNAMED"]}
           :jvm-max-heap-32gb
           {:jvm-opts ["-Xmx32g"]}
           :jvm-heap-32gb
           {:jvm-opts ["-Xms32g" "-Xmx32g"]}
           :raspasov/local
           {:jvm-opts [
                       ;"-Dclojure.compiler.direct-linking=true"
                       ]}
           :socket-repl
           {:jvm-opts ["-Dclojure.server.repl={:port 5555 :accept clojure.core.server/repl :server-daemon false}"]}}}
