#{#:country{:name-alpha-2 "NG"}
  #:country{:name-alpha-2 "SN"}
  #:country{:name-alpha-2 "HN"}
  #:country{:name-alpha-2 "PH"}
  #:country{:name-alpha-2 "IS"}
  #:country{:name-alpha-2 "KZ"}
  #:country{:name-alpha-2 "LR"}
  #:country{:name-alpha-2 "AU"}
  #:country{:name-alpha-2 "BA"}
  #:country{:name-alpha-2 "CF"}
  #:country{:name-alpha-2 "CZ"}
  #:country{:name-alpha-2 "GA"}
  #:country{:name-alpha-2 "TO"}
  #:country{:name-alpha-2 "DZ"}
  #:country{:name-alpha-2 "SO"}
  #:country{:name-alpha-2 "VE"}
  #:country{:name-alpha-2 "SU"}
  #:country{:name-alpha-2 "MV"}
  #:country{:name-alpha-2 "OM"}
  #:country{:name-alpha-2 "GE"}
  #:country{:name-alpha-2 "BF"}
  #:country{:name-alpha-2 "BR"}
  #:country{:name-alpha-2 "SC"}
  #:country{:name-alpha-2 "FJ"}
  #:country{:name-alpha-2 "GB"}
  #:country{:name-alpha-2 "FI"}
  #:country{:name-alpha-2 "IR"}
  #:country{:name-alpha-2 "BG"}
  #:country{:name-alpha-2 "CK"}
  #:country{:name-alpha-2 "AX"}
  #:country{:name-alpha-2 "EE"}
  #:country{:name-alpha-2 "TV"}
  #:country{:name-alpha-2 "GT"}
  #:country{:name-alpha-2 "UY"}
  #:country{:name-alpha-2 "HU"}
  #:country{:name-alpha-2 "KR"}
  #:country{:name-alpha-2 "AT"}
  #:country{:name-alpha-2 "PE"}
  #:country{:name-alpha-2 "VA"}
  #:country{:name-alpha-2 "MY"}
  #:country{:name-alpha-2 "MU"}
  #:country{:name-alpha-2 "GR"}
  #:country{:name-alpha-2 "SR"}
  #:country{:name-alpha-2 "CH"}
  #:country{:name-alpha-2 "GL"}
  #:country{:name-alpha-2 "VG"}
  #:country{:name-alpha-2 "CM"}
  #:country{:name-alpha-2 "TJ"}
  #:country{:name-alpha-2 "WS"}
  #:country{:name-alpha-2 "GG"}
  #:country{:name-alpha-2 "BS"}
  #:country{:name-alpha-2 "ER"}
  #:country{:name-alpha-2 "HT"}
  #:country{:name-alpha-2 "NR"}
  #:country{:name-alpha-2 "PW"}
  #:country{:name-alpha-2 "CS"}
  #:country{:name-alpha-2 "ES"}
  #:country{:name-alpha-2 "FM"}
  #:country{:name-alpha-2 "PS"}
  #:country{:name-alpha-2 "KW"}
  #:country{:name-alpha-2 "NF"}
  #:country{:name-alpha-2 "CN"}
  #:country{:name-alpha-2 "JM"}
  #:country{:name-alpha-2 "CO"}
  #:country{:name-alpha-2 "SD"}
  #:country{:name-alpha-2 "MF"}
  #:country{:name-alpha-2 "CV"}
  #:country{:name-alpha-2 "BH"}
  #:country{:name-alpha-2 "BO"}
  #:country{:name-alpha-2 "AI"}
  #:country{:name-alpha-2 "MG"}
  #:country{:name-alpha-2 "KN"}
  #:country{:name-alpha-2 "AQ"}
  #:country{:name-alpha-2 "BW"}
  #:country{:name-alpha-2 "PN"}
  #:country{:name-alpha-2 "RW"}
  #:country{:name-alpha-2 "SX"}
  #:country{:name-alpha-2 "BD"}
  #:country{:name-alpha-2 "SG"}
  #:country{:name-alpha-2 "PY"}
  #:country{:name-alpha-2 "TT"}
  #:country{:name-alpha-2 "DM"}
  #:country{:name-alpha-2 "KP"}
  #:country{:name-alpha-2 "MR"}
  #:country{:name-alpha-2 "IM"}
  #:country{:name-alpha-2 "AL"}
  #:country{:name-alpha-2 "GI"}
  #:country{:name-alpha-2 "TG"}
  #:country{:name-alpha-2 "TR"}
  #:country{:name-alpha-2 "RE"}
  #:country{:name-alpha-2 "SV"}
  #:country{:name-alpha-2 "MM"}
  #:country{:name-alpha-2 "XW"}
  #:country{:name-alpha-2 "CW"}
  #:country{:name-alpha-2 "BI"}
  #:country{:name-alpha-2 "ID"}
  #:country{:name-alpha-2 "CG"}
  #:country{:name-alpha-2 "GU"}
  #:country{:name-alpha-2 "GN"}
  #:country{:name-alpha-2 "BQ"}
  #:country{:name-alpha-2 "BL"}
  #:country{:name-alpha-2 "PK"}
  #:country{:name-alpha-2 "IL"}
  #:country{:name-alpha-2 "NO"}
  #:country{:name-alpha-2 "GH"}
  #:country{:name-alpha-2 "GY"}
  #:country{:name-alpha-2 "GM"}
  #:country{:name-alpha-2 "PG"}
  #:country{:name-alpha-2 "BB"}
  #:country{:name-alpha-2 "MW"}
  #:country{:name-alpha-2 "XG"}
  #:country{:name-alpha-2 "NE"}
  #:country{:name-alpha-2 "SL"}
  #:country{:name-alpha-2 "IE"}
  #:country{:name-alpha-2 "BT"}
  #:country{:name-alpha-2 "ZM"}
  #:country{:name-alpha-2 "NI"}
  #:country{:name-alpha-2 "PM"}
  #:country{:name-alpha-2 "KM"}
  #:country{:name-alpha-2 "AM"}
  #:country{:name-alpha-2 "KH"}
  #:country{:name-alpha-2 "SI"}
  #:country{:name-alpha-2 "ST"}
  #:country{:name-alpha-2 "BJ"}
  #:country{:name-alpha-2 "RS"}
  #:country{:name-alpha-2 "XE"}
  #:country{:name-alpha-2 "RO"}
  #:country{:name-alpha-2 "GQ"}
  #:country{:name-alpha-2 "AN"}
  #:country{:name-alpha-2 "XC"}
  #:country{:name-alpha-2 "GP"}
  #:country{:name-alpha-2 "JP"}
  #:country{:name-alpha-2 "IT"}
  #:country{:name-alpha-2 "DJ"}
  #:country{:name-alpha-2 "SB"}
  #:country{:name-alpha-2 "VN"}
  #:country{:name-alpha-2 "PT"}
  #:country{:name-alpha-2 "AO"}
  #:country{:name-alpha-2 "MD"}
  #:country{:name-alpha-2 "US"}
  #:country{:name-alpha-2 "AE"}
  #:country{:name-alpha-2 "SH"}
  #:country{:name-alpha-2 "DK"}
  #:country{:name-alpha-2 "MN"}
  #:country{:name-alpha-2 "BE"}
  #:country{:name-alpha-2 "GF"}
  #:country{:name-alpha-2 "VU"}
  #:country{:name-alpha-2 "UG"}
  #:country{:name-alpha-2 "CY"}
  #:country{:name-alpha-2 "MQ"}
  #:country{:name-alpha-2 "LC"}
  #:country{:name-alpha-2 "TL"}
  #:country{:name-alpha-2 "KE"}
  #:country{:name-alpha-2 "ZW"}
  #:country{:name-alpha-2 "BN"}
  #:country{:name-alpha-2 "RU"}
  #:country{:name-alpha-2 "HR"}
  #:country{:name-alpha-2 "GW"}
  #:country{:name-alpha-2 "KY"}
  #:country{:name-alpha-2 "CL"}
  #:country{:name-alpha-2 "LY"}
  #:country{:name-alpha-2 "TH"}
  #:country{:name-alpha-2 "NP"}
  #:country{:name-alpha-2 "CU"}
  #:country{:name-alpha-2 "AG"}
  #:country{:name-alpha-2 "DO"}
  #:country{:name-alpha-2 "LV"}
  #:country{:name-alpha-2 "EH"}
  #:country{:name-alpha-2 "CC"}
  #:country{:name-alpha-2 "ML"}
  #:country{:name-alpha-2 "TD"}
  #:country{:name-alpha-2 "BZ"}
  #:country{:name-alpha-2 "NA"}
  #:country{:name-alpha-2 "PL"}
  #:country{:name-alpha-2 "TM"}
  #:country{:name-alpha-2 "UZ"}
  #:country{:name-alpha-2 "KI"}
  #:country{:name-alpha-2 "NZ"}
  #:country{:name-alpha-2 "KG"}
  #:country{:name-alpha-2 "LA"}
  #:country{:name-alpha-2 "CD"}
  #:country{:name-alpha-2 "VC"}
  #:country{:name-alpha-2 "FK"}
  #:country{:name-alpha-2 "HK"}
  #:country{:name-alpha-2 "JE"}
  #:country{:name-alpha-2 "QA"}
  #:country{:name-alpha-2 "PF"}
  #:country{:name-alpha-2 "LT"}
  #:country{:name-alpha-2 "ZA"}
  #:country{:name-alpha-2 "CX"}
  #:country{:name-alpha-2 "AZ"}
  #:country{:name-alpha-2 "UM"}
  #:country{:name-alpha-2 "CA"}
  #:country{:name-alpha-2 "WF"}
  #:country{:name-alpha-2 "SA"}
  #:country{:name-alpha-2 "LB"}
  #:country{:name-alpha-2 "EC"}
  #:country{:name-alpha-2 "MS"}
  #:country{:name-alpha-2 "VI"}
  #:country{:name-alpha-2 "IN"}
  #:country{:name-alpha-2 "MZ"}
  #:country{:name-alpha-2 "AR"}
  #:country{:name-alpha-2 "DE"}
  #:country{:name-alpha-2 "MP"}
  #:country{:name-alpha-2 "AF"}
  #:country{:name-alpha-2 "BY"}
  #:country{:name-alpha-2 "MA"}
  #:country{:name-alpha-2 "SM"}
  #:country{:name-alpha-2 "NC"}
  #:country{:name-alpha-2 "TC"}
  #:country{:name-alpha-2 "NU"}
  #:country{:name-alpha-2 "NL"}
  #:country{:name-alpha-2 "AS"}
  #:country{:name-alpha-2 "BM"}
  #:country{:name-alpha-2 "XK"}
  #:country{:name-alpha-2 "FR"}
  #:country{:name-alpha-2 "SZ"}
  #:country{:name-alpha-2 "LI"}
  #:country{:name-alpha-2 "SS"}
  #:country{:name-alpha-2 "YT"}
  #:country{:name-alpha-2 "MC"}
  #:country{:name-alpha-2 "MH"}
  #:country{:name-alpha-2 "PR"}
  #:country{:name-alpha-2 "CI"}
  #:country{:name-alpha-2 "SY"}
  #:country{:name-alpha-2 "YE"}
  #:country{:name-alpha-2 "SK"}
  #:country{:name-alpha-2 "MO"}
  #:country{:name-alpha-2 "LK"}
  #:country{:name-alpha-2 "EG"}
  #:country{:name-alpha-2 "ET"}
  #:country{:name-alpha-2 "LU"}
  #:country{:name-alpha-2 "ME"}
  #:country{:name-alpha-2 "TN"}
  #:country{:name-alpha-2 "GD"}
  #:country{:name-alpha-2 "MT"}
  #:country{:name-alpha-2 "YU"}
  #:country{:name-alpha-2 "AD"}
  #:country{:name-alpha-2 "UA"}
  #:country{:name-alpha-2 "TW"}
  #:country{:name-alpha-2 "IQ"}
  #:country{:name-alpha-2 "SE"}
  #:country{:name-alpha-2 "MX"}
  #:country{:name-alpha-2 "TK"}
  #:country{:name-alpha-2 "TZ"}
  #:country{:name-alpha-2 "LS"}
  #:country{:name-alpha-2 "CR"}
  #:country{:name-alpha-2 "PA"}
  #:country{:name-alpha-2 "AW"}
  #:country{:name-alpha-2 "JO"}
  #:country{:name-alpha-2 "MK"}
  #:country{:name-alpha-2 "FO"}}
