name: Run Clojure Tests

on:
  push

jobs:
  run-clojure-tests:

    runs-on: ubuntu-24.04

    services:
      datomic:
        image: filipesilva/datomic-pro-sqlite:latest
        volumes:
          - /tmp/storage:/usr/storage
        ports:
          - 4334:4334

    steps:
      - uses: actions/checkout@v3

      - name: sudo apt-get update && sudo apt-get install screen -y
        run: sudo apt-get update && sudo apt-get install screen -y

      - name: Download JDK 25
        run: curl -L -O https://download.oracle.com/java/25/latest/jdk-25_linux-x64_bin.deb

      - name: Install JDK 25
        run: sudo apt install ./jdk-25_linux-x64_bin.deb

      - name: sudo update-alternatives --auto java
        run: sudo update-alternatives --auto java

      - name: Check java version
        run: java --version

      - name: Clojure install, download
        run: curl -L -O https://github.com/clojure/brew-install/releases/latest/download/posix-install.sh

      - name: Clojure install, change permissions to allow execution
        run: chmod +x posix-install.sh

      - name: Clojure install, now
        run: sudo ./posix-install.sh

      - name: Restore ~/.m2/repository and ~/.gitlibs cached based on the content of all deps.edn file(s)
        uses: actions/cache/restore@v3
        with:
          path: |
            ~/.m2/repository
            ~/.gitlibs
          key: ${{ runner.os }}-deps-edn-${{ hashFiles('**/deps.edn') }}

      - name: Run 'clojure -X:dev:add-opens:test-runner'
        run: clojure -X:dev:add-opens:test-runner

      - name: Cache local ~/.m2/repository and ~/.gitlibs
        uses: actions/cache@v3
        with:
          path: |
            ~/.m2/repository
            ~/.gitlibs
          key: ${{ runner.os }}-deps-edn-${{ hashFiles('**/deps.edn') }}
          restore-keys: |
            ${{ runner.os }}-deps-edn-
